@import "../../styles/colors.scss";

.home-screen {
  padding: 30px 0px 0px 10%;

  .home-screen-title {
    font-size: 26px;
  }

  .home-screen-tab {
    background-color: rgb(194, 193, 193);
    color: $blackText;
    font-weight: 600;
    padding: 12px;
    margin-top: 30px;
    max-width: fit-content;
  }
}
