.component-go-back {
  display: flex;
  align-items: center;
  max-width: fit-content;

  .component-go-back-icon {
    border: 1px solid grey;
    font-size: 20px;
  }

  .component-go-back-content {
    margin-left: 10px;
    font-weight: 500;
  }
}
