* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(201, 201, 201);
}

.app-container {
  padding: 15px;
  min-height: calc(100vh - 30px);
}
