@import "../../styles/colors.scss";

.global-link-job-details {
  .job-details-section-title {
    font-weight: 600;
    margin-top: 20px;
    color: $blackText;
  }

  .job-details-row {
    display: flex;
    align-items: center;
    font-weight: normal;
    color: $blackSubText;

    .job-details-key {
      min-width: 220px;
    }
  }
}
